:root {
  --neutral-bg: #140F0A;
  --neutral-100: #000000;
  --neutral-80: #4B4B4B;
  --neutral-60: #909090;
  --neutral-40: #ECECEC;
  --neutral-10: #F9F9F9;
  --neutral-0: #FFFFFF;

  --primary-120: #7B6651;
  --primary-100: #BF9D7D;
  --primary-80: #D0B79F;
  --primary-60: #E1D2C2;
  --primary-40: #F1EAE4;
  --primary-10: #F7F2EE;
}
