@use "typography" as t;

.main-spacing {
  padding: 120px 312px;
}

.main-bg {
  background-color: var(--primary-10);
}

.secondary-bg {
  background-color: var(--neutral-bg);
}

.button-like {
  border-radius: 8px;
  background-color: var(--primary-100);
  padding: 16px 32px;
  text-align: center;
  color: var(--neutral-0);
  width: 100%;
  box-sizing: border-box;
  border: none;
  cursor: pointer;

  &[disabled] {
    background-color: var(--neutral-40);
    color: var(--neutral-60);
    cursor: not-allowed;
  }

  &.big {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--neutral-0);
    color: var(--neutral-100);

    .line {
      width: 120px;
      height: 1px;
      background-color: var(--neutral-100);
      margin-left: 16px;
    }

    &:hover {
      background-color: var(--primary-100);
      color: var(--neutral-0);

      .line {
        background-color: var(--neutral-0);
      }
    }
  }
}

input[type="checkbox"] {
  accent-color: var(--primary-100);
}

.flex {
  display: flex;
}

.input {
  label {
    display: block;
    margin-bottom: 8px;
  }

  select {
    appearance: none;
    cursor: pointer;
  }

  .flex {
    gap: 8px;

    + input {
      margin-top: 8px;
    }
  }

  .select-container {
    position: relative;
    flex: 1;

    &:before {
      content: "";
      width: 24px;
      height: 24px;
      background: url("src/assets/icons/ic_ArrowDown.svg") no-repeat;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      fill: var(--neutral-80);
      cursor: pointer;
    }
  }

  input,
  select {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--neutral-40);
    box-sizing: border-box;
  }
}

.link-like {
  color: var(--primary-100);
  cursor: pointer;
  font-size: 1rem;
  @include t.body;
  @include t.bold;

  &:hover {
    text-decoration: underline;
  }
}

.MuiButton-root {
  padding: 16px 32px !important;
  border-radius: 8px !important;

  &.primary {
    background-color: var(--primary-100);
    color: var(--neutral-0);

    &:hover {
      background-color: var(--primary-120);
    }
  }

  &.secondary {
    color: var(--primary-100);
    background-color: var(--neutral-0);
    border: 1px solid var(--primary-100);
    box-sizing: border-box;

    &:hover {
      background-color: var(--primary-10);
      color: var(--primary-120);
      border-color: var(--primary-120);
    }
  }
}
